# Do not control any user-level IDE configuration files
GtfsProcSuite.pro.user

# Do not control any QMake local configs
.qmake.stash

# Temporary editor files
*~

# GTFS Real-Time Protoc'd Files
gtfs_realtime/gtfs-realtime.pb.cc
gtfs_realtime/gtfs-realtime.pb.h

# Text interface Python stuff
python_tui/.idea
python_tui/venv
python_tui/src/__pycache__

